* {
	font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
}

a {
	color: #000;
}

h1 {
  font-family: 'Khula', sans-serif;
  font-size: 70px;
}

h5 {
	font-size: 25px;
}

p {
	font-size: 50px;
}

nav {
	visibility: hidden;
}

.menu {
	visibility: hidden;
}


img {
  padding-left: 1%;
}

section *[id]:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
}


header {
	margin: 0;
	line-height: 50%;
	text-align: center;

}

/*
NAVIGATION BAR
*/

.navbar {
  background-color: #000;
  border-radius: 0;
	position: -webkit-sticky;
	position: sticky;
	width: 33%;
	margin: 0 auto;
	top: 2px;
	text-align: center;
	border-radius: 15px;
}

.navbar a {
	font-size: 15px;
	font-family: 'Coda';
	color: #fff;
	text-decoration: none;
	margin-left: 7px;
}

.navbar a:hover {
	color: #BBD200;
	border-bottom: 8px solid transparent;
  border-image: linear-gradient(to right, #00E512 , #008DBF);
  border-image-slice: 1;
}

.projectsNavbar {
  display: inline-block;
}

.goHome {
	position: fixed;
	bottom: 2%;
	right: 2%;
}

.wallpaper-front {
    position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-left: 0;
    z-index: -3;
		background: linear-gradient(rgba(60, 20, 0, .0), rgba(255, 255, 255, 1) 55%);
}

.wallpaper {
    position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-left: 0;
    z-index: -4;
		background: url(../img/wallpaper.jpg);
		/*background-image: url(../img/wallpaper.jpg);*/
		background-size: 20%;
}

/*
BODY
*/

.chevron {
  text-align: center;
}

.text {
	color: #fff;
	background: rgb(50, 50, 50);
	line-height: 50px;
	border-radius: 50px;
	height: 45px;
	width: 45px;
	margin: auto;
	z-index: -1;
}

.up {
	padding-left: 3px;
	line-height: 45px;
}

.home {
	padding-left: 9px;
	line-height: 45px;
}

article {
	margin: 100px 100px;
}


	.menu {
		padding: 0;
		border: none;
		position: fixed;
		top: 2%;
		left: 2%;
	  background: 0;
	}

	.nav-icon {
		background: #fff;
	}

	.text-nav {
		vertical-align: text-top;
		font-size: 26px;
	}

	nav {
	  width: 250px;
	  height: 100%;
	  background: #eaeaea;
	  position: fixed;
	  -webkit-transform: translateX(-250px);
	          transform: translateX(-250px);
	  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	  transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	  padding-top: 6.2rem;
		z-index: 2;
	}

	.menu-open nav {
	  -webkit-transform: translateX(0);
	          transform: translateX(0);
	}

	nav ul {
	  margin: 0;
	  list-style: none;
	  padding: 0;
	}

	nav ul li {
	  padding: 20px 5px;
	  font-size: 2rem;
	}

	nav ul li:hover {
	  background: #CDCDCD;
	}

	.portrait {
		display: block;
 		margin: 0 auto;
		height: 15%;
    width: 15%;
		border-radius: 100%;
		border: 10px solid;
    padding: 2px;
	}

	section ul {
	  -moz-column-width: 12em;
	  -moz-columns: 12em;
	  -webkit-columns: 12em;
	  columns: 12em;
	}

	#image {
		width: 400px;
    height: 200px;
    margin: -65px 0 0 60%;
	}

	#social-media {
		fill: tomato;
    fill-rule: evenodd;
	}
	#social-media:hover {
		fill: tomato;
    fill-rule: evenodd;
	}

/*
MOBILE
*/
@media screen and (max-width: 600px) and (min-width: 0px) {
	.navbar {
		visibility: hidden;
	}

	nav {
		visibility: visible;
		z-index: 2;
	}

	.menu {
		visibility: visible;
	}
}
